.main-font {
  font-family: Montserrat, sans-serif;
}

.flexContainer {
  display: flex;
}

.center {
  margin: auto;
}

li {
  align-items: center;
}

form {
  width: 250px;
}

button {
  margin: 20px 0px;
}

.complete {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}
