.main-font {
  font-family: Montserrat, sans-serif;
}

.flexContainer {
  display: flex;
}

.center {
  margin: auto;
}

li {
  align-items: center;
}

form {
  width: 250px;
<<<<<<< HEAD
}

button {
  margin: 20px 0px
<<<<<<< HEAD
}

.complete {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
=======
>>>>>>> parent of 805058b (working on adding update to do complete)
=======
>>>>>>> parent of 3ae4f92 (error here. Will revert)
}